.nav-bar {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: var(--s);
    margin-bottom: var(--m);
    border-bottom-left-radius: var(--xs);
    border-bottom-right-radius: var(--xs);
}

.main-footer{
    background-color: var(--color-purple);
    color: var(--color-white);
    position: sticky;
    padding: var(--s);
    margin-top: var(--m);
    border-top-left-radius: var(--xs);
    border-top-right-radius: var(--xs);

    ul {
        padding: var(--s);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}